
.gameHeaderWindow {
  background-color:#2196F3;
  padding:2rem;
  width:100%;
}
.gameHeaderText {
  font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
}
.outputWindow {
  width: 10rem;
  height: 10rem;

}


